<!-------------------------- HEADER CONTENT------------------------------->

<header class="header">ABOUT US</header>


<div class="headercontent ">
    Collab app is an online course collaborator where people can join through a unique link and work on a project together.
     We also provide you the functionality to chat one on one with the group members. 
     You can add your project notes and share your content through collab.

</div>

<!----------------------------- CREATED 4 DIV'S ADDING THE IMAGE AND CONTENT FOR EACH MEMBER OF THE TEAM -------------------------------->



<!-- FIRST DIV  -->
<div class="person">
    <div class="person-badge">
       <!-- IMAGE FOR NORMAL AND PECULIAR .FOR THE EFFETCS.ONE IMAGE AFTER OTHER-->
      <img class="normal" src="/assets/images/image.jpg">
      <img class="peculiar" src="/assets/images/image.jpg">
    </div>
    <h3>Aditya Kelkar</h3>
    <strong>Grad Student at Northeastern University</strong>
    <div>
        Final year grad Student.Teaching assistant at Northeastern University.Loves Music and playing football.   </div>
  </div>
  
  <!-- SECOND DIV -->
  <div class="person">
    <div class="person-badge">
       <!-- IMAGE FOR NORMAL AND PECULIAR .FOR THE EFFETCS.ONE IMAGE AFTER OTHER-->
      <img class="normal" src="/assets/images/rishabh.JPG">
      <img class="peculiar" src="/assets/images/rishabh2.JPG">
    </div>
    <h3>Rishabh Shrivastava</h3>
    <strong>Grad Student at Northeastern University</strong>
    <div>
         Joined Northeastern University in Spring 2019.Beside studies,I have been a professional Dj past 2 years.Loves underground music especially 
         Techno and Jazz.Loves to play soccer.

    </div>
  </div>
  
  <!-- THIRD DIV -->
  <div class="person">
    <div class="person-badge">
       <!-- IMAGE FOR NORMAL AND PECULIAR .FOR THE EFFETCS.ONE IMAGE AFTER OTHER-->
      <img class="normal" src="/assets/images/imagepooja.jpg">
      <img class="peculiar" src="/assets/images/imagepooja.jpg">
    </div>
    <h3>Pooja Pingle</h3>
    <strong>Grad Student at Northeastern University</strong>
    <div>
        Project Development Engineer CO-OP at ERT.
    </div>
    </div>

    <!-- FOURTH DIV  -->
    <div class="person">
        <div class="person-badge">
          <!-- IMAGE FOR NORMAL AND PECULIAR .FOR THE EFFETCS.ONE IMAGE AFTER OTHER-->
          <img class="normal" src="/assets/images/imageyash.jpg">
          <img class="peculiar" src="/assets/images/imageyash.jpg">
        </div>
        <h3>Yashaswi Singh</h3>
        <strong>Grad Student at Northeastern University</strong>
        <div>
                Human turned Engineer and says Winter is coming!!
        </div>
        </div>






<!--------------------- FOOTER STARTS HERE ---------------------------->
        <footer>
                <div class="copyright">
                  <p>&copy 2019 - COllab</p>
                </div>
                <div class="social">
                 
                  <a href="https://github.com/neu-mis-info6150-spring-2019/final-project-noone" class="git">Git</a>
                  
                </div>
              </footer>